
*This notebook contains material from the [{{ page_title }}]({{ page_url }}) by
Jeffrey Kantor (jeff at nd.edu); the content is available [on Github]({{ github_url }}).
*The text is released under the [CC-BY-NC-ND-4.0 license](https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode),
and code is released under the [MIT license](https://opensource.org/licenses/MIT).*
